/* Portfolio.css */

.portfolio-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .portfolio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .portfolio-heading {
    color: #333;
  }
  
  .filter-section {
    margin-bottom: 20px;
  }
  
  .filter-button {
    margin: 0 10px 10px 0;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background-color: #007BFF;
    color: #ffffff;
    cursor: pointer;
  }
  
  .filter-button.active {
    background-color: #0056b3;
  }
  
  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .project-card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  .project-card:hover {
    transform: scale(1.05);
  }
  
  .project-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .project-name {
    color: #333;
  }
  
  .project-description {
    color: #777;
  }
  
  .project-service {
    color: #777;
  }